<div id="comments-list">
  <% if @comments.count > 0 %>
    <h6 id="comments-list-title" class="mb-4">Others have left comments</h6>
    <% @comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
  <% end %>
</div>
