<div class="jumbotron jumbotron-fluid">
  <div class="containe-fluid px-3">
    <p class="lead text-white half-page rem-font">Hi guy, my name is Brahim Ouinten but you can call me Wazo, I'm a developper fighter, I fight with my friends the Pokétechnos. The best of them is Ruby especially when he transforms into Ruby on Rails. And thanks to my friends I won several fights.</p>
    <a class="btn btn-danger btn-lg h6 px-2 py-1" href="#" role="button">Watch my fights</a>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>