<div class="banner container-fluid px-0">
  <%= image_tag 'banner.png', class: 'img-fluid' %>
  <div class="over-image half-page ">
    <p class="lead fluid-font-size text-white">Hello, my name is Brahim Ouinten but you can call me Wazo, I'm a developper fighter, I fight with my friends the Pokétechnos, the best of them is Ruby especially when he transforms into Ruby on Rails. And thanks to my friends I won several fights.</p>
    <a class="h6 fluid-font-size btn btn-outline-success px-1 py-0 px-lg-2 py-lg-1 mt-lg-3" href="#" role="button">Watch my fights</a>
  </div>
</div>