<div id="comments-area" class="container-fluid py-3">
  <h5 class="text-center mb-4">Leave me a comment</h5>
  <%= render 'comments/leave_a_comment_form' %>
  <%= render 'comments/comments_list' %>
</div>