<div id="projects_result">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-lg-6">
        <div class="card border-info mb-3">
          <div class="row no-gutters">
            <div class="col-md-7">
              <img src="" class="card-img" alt="...">
            </div>
            <div class="col-md-5">
              <div class="card-body">
                <h5 class="card-title"><%= project.title %></h5>
                <p class="card-text"><%= project.description %></p>
                <p class="card-text"><small><%= "Level : #{project.complexity}/10" %></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>      
    <% end %>
  </div>
</div>