<h5 class="text-center mb-4 fluid-font-size">Select a friends to show the fights in which they participated!</h5>
<div class="row justify-content-center">
  <% @tags.each do |tag| %>
    <div class="col-sm-2 col-md-1 mb-sm-5 text-center">
      <div id="<%= tag.id %>" class="img-check card border-success border-3">
        <%= image_tag "tags_pngs/#{tag.code}.png", class: 'card-img-top img-thumbnail img-fluid fit-img', alt: "#{tag.title}" %>
      </div>
    </div>
  <% end %>
</div>
