/* Banner */
.banner {
  position: relative;
}

.over-image {
  position: absolute;
  top: 10px;
  left: 15px;
}

.over-image p {
  line-height: 1.7;
}

.bg-primary {
  background-color: #050505 !important;
}

.half-page {
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .fluid-font-size {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 700px) {
  .rem-font {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 500px) {
  .rem-font {
    font-size: 0.4rem;
  }
}

/* Projects filter */
div > .checked {
  border: medium solid #0095d2 !important;
}

.img-check {
  cursor: pointer;
}

.img-check:hover {
  opacity: 0.5;
}

.small-text {
  font-size: 0.7em;
}