/* banner partial */
.banner {
  position: relative;
}

.over-image {
  position: absolute;
  top: 10px;
  left: 15px;
}

.over-image p {
  line-height: 1.7;
}

.bg-primary {
  background-color: #050505 !important;
}

.half-page {
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .fluid-font-size {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 700px) {
  .fluid-font-size {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 500px) {
  .fluid-font-size {
    font-size: 0.4rem;
  }
}

/* projects_filter partial */
#filter .checked {
  border: medium solid #0095d2 !important;
}

.img-check {
  cursor: pointer;
}

.img-check:hover {
  opacity: 0.5;
}

div#filter .card-footer {
  font-size: 0.7em;
}

/* projects_result partial */
.card-img {
  border-bottom: thin solid #dfdfdf;
}
#projects_result .card-body .card-text {
  font-size: 0.9em;
}

#projects_result .card-footer {
  font-size: 0.75em !important;
}

#projects_result a {
  color: #005a7e !important;
}

#projects_result a:hover {
  opacity: 0.8;
}

/* scroll_to_top_btn partial*/
#scroll-to-top-btn {
  display: none; 
  position: fixed;
  bottom: 62px;
  right: 10px;
  z-index: 99;
  width: 40px;
  height: 40px;
  padding: 2px;
  margin: 2px;;
  border-radius: 50%;
}
