$(document).ready(async function(){
  const introduction = [
    [
      {text: "me", color: "#92daff"}, 
      {text: " = ", color: "white"}, 
      {text: "DeveloperFighter", color: "#00d3b3"}, 
      {text: ".", color: "white"},
      {text: "new", color: "#4f93d9"},
      {text: "(", color: "#e9bc00"},
      {text: "'Wazo'", color: "#d58f74"},
      {text: ", ", color: "white"},
      {text: "'", color: "#d58f74"},
      {image: `<img src=<%= asset_path 'me' %> width="45" height="55">`},
      {text: "'", color: "#d58f74"},
      {text: ")", color: "#e9bc00"}
    ],
    [
      {text: "me", color: "#92daff"},
      {text: ".", color: "white"},
      {text: "slogan", color: "#d9e3a8"},
      {text: " = ", color: "white"},
      {text: "'Build features that benefit others'", color: "#d58f74"}
    ],
    [
      {text: "me", color: "#92daff"},
      {text: ".", color: "white"},
      {text: "forces", color: "#d9e3a8"},
      {text: " = ", color: "white"},
      {text: "[", color: "#00c8ff"},
      {text: "'Ambition'", color: "#d58f74"},
      {text: ", ", color: "white"},
      {text: "'Autonomy'", color: "#d58f74"},
      {text: ", ", color: "white"},
      {text: "'Perseverance'", color: "#d58f74"},
      {text: ", ", color: "white"},
      {text: "'Perfection'", color: "#d58f74"},
      {text: "]", color: "#00c8ff"}
    ],
    [
      {text: "me", color: "#92daff"},
      {text: ".", color: "white"},
      {text: "fight!", color: "#d9e3a8"}
    ]
  ]

  const webPresence = [
    [
      {text: "me", color: "#92daff"},
      {text: ".", color: "white"},
      {text: "web_presence", color: "#d9e3a8"},
      {text: " = ", color: "white"},
      {text: "[", color: "#00c8ff"},
      {text: "'", color: "#d58f74"},
      {image: `<a href="https://github.com/b-ouinten"><img src=<%= asset_path 'web_presence/github' %> width="20" height="20"></a>`},
      {text: "'", color: "#d58f74"},
      {text: ", ", color: "white"},
      {text: "'", color: "#d58f74"},
      {image: `<a href="https://www.linkedin.com/in/b-ouinten/"><img src=<%= asset_path 'web_presence/linkedin' %> width="20" height="20"></a>`},
      {text: "'", color: "#d58f74"},
      {text: "]", color: "#00c8ff"}
    ]
  ]

  while (true) {
    await typeCodeBlock(introduction, 'introduction');
    await waitForMs(3000);
    $('#introduction').empty();
    await typeCodeBlock(webPresence, 'web-presence');
    await waitForMs(7000);
    $('#web-presence').empty();
  }
  
  async function typeCodeBlock(codeLines, parentTagRef) {
    for(let i in codeLines) {
      let id = `${parentTagRef}-${i}`;
      $(`#${parentTagRef}`).append(`
        <div class="typing-container">
          <span id="${id}"></span>
          <span id="cursor" class="cursor"></span>
        </div>
      `)
      await typeCodeLine(codeLines[i], `${id}`);
      await waitForMs(900);
      if (i < codeLines.length - 1) $('#cursor').remove();
    }
  }

  async function typeCodeLine(codeLine, codeLineEleRef, delay = 100) {
    for(let i in codeLine) {
      let codeLinePortionId = `${codeLineEleRef}-portion-${i}`;
      $(`#${codeLineEleRef}`).append(`<span id="${codeLinePortionId}"></span>`)
      let text = codeLine[i].text || '';
      let color = codeLine[i].color || '';
      let image = codeLine[i].image || null;

      $(`#${codeLinePortionId}`).append(image);
      let letters = text.split("");
      for (letter of letters) {
        await waitForMs(delay);
        $(`#${codeLinePortionId}`).append(letter);
        $(`#${codeLinePortionId}`).css('color', codeLine[i].color);
      };
    }
    
    return;
  }

  function waitForMs(ms) {
    return new Promise(resolve => setTimeout(resolve, ms))
  }
})
