<% flash.each do |type, msg| %>
  <div class="alert alert-dismissible <%= flash_class(type) %>">
    <button type="button" class="btn-close btn-sm" data-dismiss="alert"></button>
    <%= msg%> 
  </div>
<% end %>
