<br>
<br>
<br>
<br>
<footer class="footer fixed-bottom bg-primary">
  <div class="text-white text-center py-3">Made with Rails, without template and especially with <span style="color: red;">♥</span> <small><a href="https://github.com/b-ouinten/personal_web_site.git" class="text-muted text-decoration-none" target="_blank">view GitHub repo</a></small></div>
</footer>